* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    color: white;
    place-items: center;
    display: grid;
    background-color: #05011b;
    font-family: "Courier New", Courier, monospace;
    display: grid;
    place-items: center;
}
.weather-cont {
    position: relative;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    background-image: url("imgs/earth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    padding: 1rem 2rem;
    .search-cont {
        width: 75%;
        margin: auto;
        margin-bottom: 1rem;
        input {
            width: 80%;
            margin: auto;
            height: 2.5rem;
            padding: 0 0.5rem;
            background-color: #05011b;
            background-color: #fff;

            border: none;
            outline: none;
            border-radius: 0.5rem;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease-in-out;
            &:focus {
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
            }
        }
    }
}
.today-weather-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.date-city-cont {
    margin: 2rem 0;
    .date {
        font-size: 1rem;
        font-weight: 400;
    }
    .location {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .city-name {
            text-transform: uppercase;
        }
        .bi {
            font-size: 1.5rem;
        }
    }
}
.weather-info {
    .city-temp {
        font-size: 3rem;
        font-weight: 700;
    }
    .weather-icon-cont {
        width: 8rem;
        height: 8rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .weather-desc {
        font-size: 1.5rem;
        font-weight: 400;
    }
}
.min-max-temp {
    position: absolute;
    top: 12rem;
    right: calc(50% - 4rem);
    display: grid;
    gap: 1rem;
}
.other-days-cont {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    width: 90%;
    margin: auto;
    place-items: center;

    .days {
        position: relative;
        .day-temp {
            position: absolute;
            top: -0.75rem;
            right: -4px;
            font-size: 1rem;
        }
        .day-name {
            margin-bottom: 0.75rem;
        }
    }
}

@media screen and (max-width: 790px) {
    .weather-cont {
        width: 90%;
        position: relative;
        .search-cont {
            width: 90%;
            margin: 0;
            margin-bottom: 1rem;
        }
    }
    .weather-icon-cont {
        width: 6rem !important;
        height: 6rem !important;
    }
    .search-cont {
        width: 90% !important;
        padding: 0;
        input {
            width: 100% !important;

            background-color: #fff;
        }
    }
    .other-days-cont {
        bottom: 1rem;
        left: 1rem;
        padding-right: 0.25rem;
    }
}
@media screen and (max-width: 604px) {
    .weather-cont {
        height: 620px;
    }
    .min-max-temp {
        top: 7rem;
        right: 2rem;
    }
}
@media screen and (max-width: 598px) {
    .day-icon {
        width: 3rem !important;
    }
    .day-temp {
        font-size: 0.75rem !important;
        top: -0.5rem !important;
        right: -1.5rem !important;
    }
}
